@use '../../theme.scss' as *;

.Button {
    padding: 12px 20px;
    background-color: $colorPrimary;
    border-radius: 4px;
    color: $colorSecondary;
    transition: background-color 0.3s ease-out;
    outline: none;
    border: none;

    &_secondary {
        padding: 16px 20px;
    }

    &:hover {
        background-color: $colorPrimaryDark;
    }
}